{%extends 'base.html'%}

{%block content%}
<!--Context variable is query,blog_list -->

    <div class="row">
        <div class="col-12 col-8 mx-auto">
            {% if query %}
            <p class="lead">You searched for <i>{{query}}</i></p>

            {%for blog_item in blog_list%}
                {%include 'list-inline.html' with blog_post=blog_item%}
            {%endfor%}

            {% else %}
                <p>Hellos</p>
                <br>
                <p class="text text-primary">Please provide some text in search field</p>

                <form class="form-inline my-2 my-lg-0" action="/search/">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>

            {% endif %}
        </div>
    </div>

{%endblock%}